@page "/error"


<div class="card text-center">
	<div class="card-header">
		<h2 class="card-title btn-outline-success">Algo deu errado. Entre em contato com o administrador!</h2>
	</div>
@*	<div class="row">
		<div class="col">
			<a href="javascript:history.back()" class="btn btn-danger float-start">Voltar</a>
		</div>
	</div>*@
	<div class="card-body">
		<img style="width:60%" src="./assets/Error.jpg" alt="" />
		<h2 class="card-title btn-outline-success"></h2>

	

	</div>

</div>

